body{
    border: 5px solid gray;
    margin: 0;
    height: 100%;
    padding: 10px;
}

header{
    background-color: green;
    height: 200px;
    width: 100%;
    position: relative;
}

nav{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 25%;
    margin-right: 2rem;
}

article{
    background-color: orange;
    height: 500px;
}

figure{
    margin: 0px;
    background-color: aquamarine;
    height: 100px;
}

footer{
    background-color: blue;
    height: 300px;
}